version: "3.3"
services:
  flask:
    build: .
    links:
      - db
      - redis
    environment: 
      DB_HOST: db
      DB_NAME: ${DB_NAME:-psan_db}
      CELERY_REDIS: redis://redis:6379
    env_file: 
      - .env
    depends_on:
        db:
          condition: service_healthy
    ports:
      - 5000:5000
  db:
    image: postgres:13.1-alpine
    volumes:
      - db_data:/var/lib/postgresql/data
      - ./db:/docker-entrypoint-initdb.d
    environment:
      POSTGRES_DB: ${DB_NAME:-psan_db}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    healthcheck:
        test: [ "CMD-SHELL", "pg_isready -U postgres" ]
        interval: 10s
        timeout: 5s
        retries: 5
  redis:
    image: redis:6.0.9-alpine

volumes:
  db_data: